.image {
    align-self: center;
    width: 480px;
    height: 240px;
    display: block;
}

.title {
    max-width: 520px;
    align-self: center;
    text-align: center;
}

.nutritionFactsList {
    width: 100%;
    margin: 0;
    max-width: 520px;
    padding: 0;
    justify-content: center;
    list-style: none;
    display: flex;
    align-self: center;
}

.nutritionFactListItem {
    width: 112px;
}

.nutritionFactListItemExtraWidth {
    width: 127px;
}
.nutritionFact:not(:last-child) {
    margin-right: 20px;
}
.nutritionText {
    text-align: center;
}
